Temp/
Library/
Recordings/
Logs/
UserSettings/

.vs/
.idea/
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

UIElementsSchema

Assets/Plugins/Character Controller Pro/Demo*
Assets/Plugins/Character Controller Pro/Implementation*
Assets/Plugins/Character Controller Pro/OPEN ME*

Assets/BuildReports/*
Assets/BuildReports.meta

/Assets/AddressableAssetsData/link.xml
/Assets/AddressableAssetsData/link.xml.meta
/Assets/AddressableAssetsData/*/*.bin*
/Assets/AddressableAssetsData/OSX.meta
/Assets/AddressableAssetsData/Windows.meta
/Assets/AddressableAssetsData/Linux.meta
/Assets/AddressableAssetsData/WebGL.meta

Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/aa/*

Assets/Editor/Packages/

hooks/
lfs/
